<!DOCTYPE html>
<html>
<head>
    <title>Late Loans</title>
</head>
<body>
    <h1>Late Loans</h1>
    <table>
        <thead>
            <tr>
                <th>Customer</th>
                <th>Book</th>
                <th>Loan Date</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in late_loans %}
            <tr>
                <td>{{ loan.customer }}</td>
                <td>{{ loan.book }}</td>
                <td>{{ loan.loandate }}</td>
                <td>{{ loan.returndate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
